html{
    height: 100%;
}
body{
    background-image: linear-gradient(rgba(41, 122, 149, 0.966),rgb(35, 128, 119));
    background-repeat: no-repeat;
    align-items: center;
    display: grid;
    place-items: center;
}
h1 { 
    color: #fdfdfd; 
    font-size: 48px; 
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 10px; 
    text-shadow: 5px 5px 10px black;
}

.container{
    background-color: rgba(255, 255, 255, 0.286);
    display: grid;
    grid-template-rows: 40px 310px;
    padding: 30px;
    grid-row-gap:10px;
    width: 450px;
    height: 350px;
}
.ctop{
    display: grid;
    grid-template-columns: 350px 100px;
    grid-column-gap: 5px;
}
.inbox{
    border-radius: 5px;
    border: none;
}
.plusbtn{
    background-color: rgb(216, 120, 24);
    border: 5px white;
    font-size: 20px; 
    color:white;
    border-radius: 5px;
}

.csroll{
    display:grid;
    grid-template-columns: 25px 300px 30px;
    grid-column-gap:5px;
    grid-auto-rows:30px;
}

.minusbtn{
    background-color: rgb(225, 75, 55);
    border: 5px white;
    font-size: 25px; 
    color:white;
    border-radius: 5px;
    height: 25px;
    
}
.pstyle{
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(7, 55, 22);
    font-weight: bold;
    margin:5px;
    cursor:pointer;
    font-size:18px;
}

